@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider" data-autoplay="true" data-autoplay-speed="4000">
    <a href="/Home/Products">
        <img src="~/assets/img/slider/first.png" alt="">
    </a>
    <a href="/Home/Products">
        <img src="~/assets/img/slider/second.png" alt="">
    </a>
    <a href="/Home/Products">
        <img src="~/assets/img/slider/third.png" alt="">
    </a>
</div>

<!-- //category -->
<div class="pt-3">
    <div class="container-fluid theme-container">
        <div class="slider  arrow-light slider-gap" data-slides-to-show="4" data-autoplay="true" data-nav="true"
             data-dots="false">
            <div class="product-categories-grid">
                <div class="product-img">
                    <img src="~/assets/img/category/category-1.png" class="" alt="">
                    <div class="cat-info">
                        <h5 class="cat-name">
                            Pain Relief and Anti-Inflammatory
                        </h5>
                        <a href="/Home/Products" class="cat-link">
                            View All <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-categories-grid">
                <div class="product-img">
                    <img src="~/assets/img/category/category-2.png" class="" alt="">
                    <div class="cat-info">
                        <h5 class="cat-name">
                            Digestive Health
                        </h5>
                        <a href="/Home/Products" class="cat-link">
                            View All <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-categories-grid">
                <div class="product-img">
                    <img src="~/assets/img/category/category-3.png" class="" alt="">
                    <div class="cat-info">
                        <h5 class="cat-name">
                            Vitamins and Mineral Supplements
                        </h5>
                        <a href="/Home/Products" class="cat-link">
                            View All <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-categories-grid">
                <div class="product-img">
                    <img src="~/assets/img/category/category-6.png" class="" alt="">
                    <div class="cat-info">
                        <h5 class="cat-name">
                            Bone and Joint Health
                        </h5>
                        <a href="/Home/Products" class="cat-link">
                            View All <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-categories-grid">
                <div class="product-img">
                    <img src="~/assets/img/category/category-8.png" class="" alt="">
                    <div class="cat-info">
                        <h5 class="cat-name">
                            Antioxidants and Immune
                        </h5>
                        <a href="/Home/Products" class="cat-link">
                            View All <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- //product Grid -->
<div class="pt-3">
    <div class="container-fluid theme-container">
        <div class="row mb-4">
            <div class="col">
                <h5 class="product-heading">Our Products</h5>
            </div>
            <div class="col-auto text-md-right">
                <a href="/Home/Products" class="btn btn-primary btn-sm product-heading-btn">See All</a>
            </div>
        </div>
        <div class="row" id="productList">
        </div>
    </div>
</div>

<!-- //Offer-->
<div class="pt-3">
    <div class="offers-list bg-light py-5 offers-grid-2">
        <div class="container">
            <ul>
                <li>
                    <div class="offer-image">
                        <img src="https://www.vsunpharma.com/images/aceclo.jpeg" alt="">
                    </div>
                    <div class="offer-info">
                        <h2 class="offer-title">
                            ACHIMOLE-P Flat 10% off
                        </h2>
                        <p class="offer-subtitle">
                            Aceclofenac and Paracetamol Tablets
                        </p>
                        <a href="/Home/Products" class="btn btn-primary btn-sm">Shop now</a>
                    </div>
                </li>
                <li>
                    <div class="offer-image">
                        <img src="https://www.vsunpharma.com/images/etoric.jpeg" alt="">
                    </div>
                    <div class="offer-info">
                        <h2 class="offer-title">
                            ETORICOZ 90 Flat 10% off
                        </h2>
                        <p class="offer-subtitle">
                            Etoricoxib Tablets I.P. 90mg
                        </p>
                        <a href="/Home/Products" class="btn btn-primary btn-sm">Shop now</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- //brand -->
<div class="pt-3">
    <div class="py-5 bg-light">
        <div class="container-fluid theme-container">
            <div class="row mb-2">
                <div class="col">
                    <h5 class="product-heading">Popular brands</h5>
                </div>
                <div class="col-auto text-md-right">
                    <a href="/Home/Products" class="btn btn-primary btn-sm product-heading-btn">See All</a>
                </div>
            </div>
            <div class="slider arrow-light slider-gap" data-slides-to-show="8" data-autoplay="true" data-nav="true"
                 data-dots="false">
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-1.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Summer Essentials
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-2.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Healthcare Devices
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-3.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Summer Essentials
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-4.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Healthcare Devices
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-5.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Summer Essentials
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-6.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Healthcare Devices
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-7.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Healthcare Devices
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-8.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Healthcare Devices
                    </a>
                </div>
                <div class="product-brand">
                    <a href="/Home/Products" class="product-img">
                        <img src="~/assets/img/brand/brand-9.png" class="" alt="">
                    </a>
                    <a href="/Home/Products" class="product-info">
                        Healthcare Devices
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>